/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/input.txt
/cmake-build-debug/Makefile
/cmake-build-debug/output.txt
/cmake-build-debug/words_lab
/cmake-build-debug/words_lab.cbp
